table .fa {
    font-size: 1.2em;
}

.bg-success {
    background-color: #00a65a !important;
}

.navbar{
    padding: 0em 1em !important;
}

.sidebar {
    margin-left: -4px;
}

.breadcrumb {
    background-color: transparent !important;
    color: white !important;
    padding: .1rem 1rem;
}

.breadcrumb a, .breadcrumb-item {
    color: white !important;
}

.bg-purple {
    background-color: #605ca8;
}

.box-purple {
    border-top-color: #605ca8;
}

.btn-purple {
    color: white;
    background-color: #605ca8;
}

.btn-purple:hover {
    color: white;
    background-color: #555299;
}

.fa-chevron-circle-left, .fa-undo {
    font-size: 25px !important;
}

.fa-required-size {
    font-size: .8em !important;
}

#acoes .fa-edit, #acoes .fa-info-circle, #acoes .fa-lock, #acoes .fa-address-card, #acoes .fa-object-group {
    color: #605ca8;
}

a{
    color: #605ca8;
}

a:hover{
    color: #555299;
}

#cardsDashboard .fa-users, #cardsDashboard .fa-address-card, #cardsDashboard .fa-check-circle, #cardsDashboard  .fa-bars,
#cardsDashboard .fa-object-group, #cardsDashboard .fa-desktop
{
    font-size: 100px;
    color: #605ca8;
}

#cardsDashboard a
{
    color: #605ca8;
}

.border-fieldset
{
    border: 1px solid #ced4da;
}

.fullScreen
{
    position: absolute;
    width: 99%;
    left: 30px;
    top: 30px;
}

.border-form-menu{
    border: 2px solid #605ca8;
}

.badge-purple{
    background-color: #605ca8;
    color: white;
    font-size: 50%;
}

#indexMenu .card{
    border: 1px solid #605ca8 !important;
}